@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

</div>

@*<form action="/" method="post">
    <h1 class="display-4">Basic Calculator</h1>
    <p>
        <label>Please type in the First Number: <input type="number" name="firstNum" value="" /></label>

    </p>
    <p>
        <label>Please type in the Second Number: <input type="number" name="secondNum" value="" /></label>
    </p>
    <p>
        <label for="operator">Please select an operator</label>
        <select name="operator" id="operator">
            <option value="+">Add</option>
            <option value="-">Subtract</option>
            <option value="*">Multiply</option>
            <option value="/">Divide</option>
        </select>
    </p>
    <button>Calculate</button>
    <p></p>
    <p></p>
    <p><label>Result</label></p>
    <p><input type="number" asp-for="@ViewData["result"]" /></p>
</form>*@